<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mẫu Quản Trị Viên</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="assets/admin/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="assets/admin/css/font-awesome.css" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
    <link href="assets/admin/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="assets/admin/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
  
    <div id="wrapper">
        <!-- PHẦN BÊN CẠNH THANH NAVIGATION  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="col-md-12">
                    <h2>Thêm Dự Án</h2>
                </div>
                <form (submit)="addProject()">
                    <div class="form-group">
                        <label for="name">Tên</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" required>
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="description">Mô tả</label>

                        <input type="text" class="form-control" id="description" [(ngModel)]="description" name="description" required>
                        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger"></div>

                    </div>
                    <div class="form-group">
                        <label for="leader_id">ID Trưởng Nhóm</label>
                        <input type="text" class="form-control" id="leader_id" [(ngModel)]="leader_id" name="leader_id" required>
                        <div *ngIf="leader_id.invalid && (leader_id.dirty || leader_id.touched)" class="alert alert-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="team">Thêm Nhóm</label>
                        <input type="text" class="form-control" id="team" [(ngModel)]="team" name="team" required>
                        <div *ngIf="team.invalid && (team.dirty || team.touched)" class="alert alert-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="start_date">Ngày Bắt đầu</label>
                        <input type="date" class="form-control" id="start_date" [(ngModel)]="start_date" name="start_date" required>
                        <div *ngIf="start_date.invalid && (start_date.dirty ||start_date.touched)" class="alert alert-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="end_date">Ngày Kết thúc</label>
                        <input type="date" class="form-control" id="end_date" [(ngModel)]="end_date" name="end_date" required>
                        <div *ngIf="end_date.invalid && (end_date.dirty ||end_date.touched)" class="alert alert-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="budget">Ngân sách</label>
                        <input type="number" class="form-control" id="budget" [(ngModel)]="budget" name="budget" required>
                        <div *ngIf="budget.invalid && (budget.dirty || budget.touched)" class="alert alert-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="status">Trạng thái</label>
                        <select class="form-control" id="status" [(ngModel)]="status" name="status" required>
                            <option value="pending">Chưa xác nhận</option>
                            <option value="ongoing">Đang thực hiện</option>
                            <option value="completed">Đã thực hiện</option>
                            <option value="cancelled">Đã hủy</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Thêm mới</button>


                </form>
                <hr />            
                           
            </div>
        </div>
    </div>

   <script src="assets/admin/js/jquery-1.10.2.js"></script>
   <!-- BOOTSTRAP SCRIPTS -->
   <script src="assets/admin/js/bootstrap.min.js"></script>
   <!-- METISMENU SCRIPTS -->
   <script src="assets/admin/js/jquery.metisMenu.js"></script>
   <!-- MORRIS CHART SCRIPTS -->
   <script src="assets/admin/js/morris/raphael-2.1.0.min.js"></script>
   <script src="assets/admin/js/morris/morris.js"></script>
   <!-- CUSTOM SCRIPTS -->
   <script src="assets/admin/js/custom.js"></script>

</body>

</html>
