<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-md-2">
       
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div width="100px" class="mb-5">
              <a routerLink="/login"><i class="fa-solid fa-arrow-left fs-3"></i></a>
            </div>

            <div class="mb-4 d-flex justify-content-between">
              <h3>Đăng <strong>Ký</strong></h3>
              <p class="mb-4"></p>
            </div>
            <form action="#" method="post" (submit)="register()">
              <div class="form-group first">
                <label for="email">Email <span class="text-danger">*</span></label>
                <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required />
              </div>
              <div class="form-group first">
                <label for="username">Tên đăng nhập <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" required />
              </div>
              <div class="form-group last">
                <label for="password">Mật khẩu <span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required />
              </div>
              <label for="select">Chức vụ <span class="text-danger">*</span></label>
              <div class="form-group last mb-4">
                <select class="form-select" id="select" [(ngModel)]="role" name="role" required>
                  <option value="leader">Leader</option>
                  <option value="employee">Employee</option>
                </select>
              </div>

              <!-- <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"
                  ><span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked" />
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"
                  ><a href="#" class="forgot-pass">Forgot Password</a></span
                >
              </div> -->

              <input type="submit" value="Đăng Ký" class="btn text-white btn-block btn-primary" />
              <span class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</span>

              <span class="d-block text-left my-4 text-muted">
                Hoặc đăng nhập bằng</span>

              <div class="social-login">
                <a href="#" class="facebook">
                  <span class="icon-facebook mr-3"></span>
                </a>
                <a href="#" class="twitter">
                  <span class="icon-twitter mr-3"></span>
                </a>
                <a href="#" class="google">
                  <span class="icon-google mr-3"></span>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>