<app-header></app-header>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Binary Admin</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="../../assets/admin/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../../assets/admin/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="../../assets/admin/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"/>
  </head>
  <body>
    <div id="wrapper">
      <div id="page-wrapper">
        <div id="page-inner">
          <div class="row">
            <div class="col-md-12">
             <h2>Các Thành Phần</h2>   
               
            </div>
        </div>
          <hr />
          <div class="row">
            <div class="col-md-7">
              <div class="panel panel-default">
                <div class="panel-heading">Simple Buttons Examples</div>

                <div class="panel-body">
                  <h4>Default Button</h4>
                  <a href="#" class="btn btn-default">default</a>
                  <a href="#" class="btn btn-primary">primary</a>
                  <a href="#" class="btn btn-danger">danger</a>
                  <a href="#" class="btn btn-success">success</a>
                  <a href="#" class="btn btn-info">info</a>
                  <a href="#" class="btn btn-warning">warning</a>

                  <h4>Mini Button</h4>
                  <a href="#" class="btn btn-default btn-xs">default</a>
                  <a href="#" class="btn btn-primary btn-xs">primary</a>
                  <a href="#" class="btn btn-danger btn-xs">danger</a>
                  <a href="#" class="btn btn-success btn-xs">success</a>
                  <a href="#" class="btn btn-info btn-xs">info</a>
                  <a href="#" class="btn btn-warning btn-xs">warning</a>

                  <h4>Small Button</h4>
                  <a href="#" class="btn btn-default btn-sm">default</a>
                  <a href="#" class="btn btn-primary btn-sm">primary</a>
                  <a href="#" class="btn btn-danger btn-sm">danger</a>
                  <a href="#" class="btn btn-success btn-sm">success</a>
                  <a href="#" class="btn btn-info btn-sm">info</a>
                  <a href="#" class="btn btn-warning btn-sm">warning</a>

                  <h4>Large Button</h4>

                  <a href="#" class="btn btn-default btn-lg">default</a>
                  <a href="#" class="btn btn-primary btn-lg">primary</a>
                  <a href="#" class="btn btn-danger btn-lg">danger</a>
                  <a href="#" class="btn btn-success btn-lg">success</a>
                  <a href="#" class="btn btn-info btn-lg">info</a>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="panel panel-default">
                <div class="panel-heading">Button Dropdowns</div>

                <div class="panel-body">
                  <h4>Simple Button Dropdown Examples</h4>
                  <div style="margin-top: 10px">
                    <div class="btn-group">
                      <button
                        data-toggle="dropdown"
                        class="btn btn-primary dropdown-toggle"
                      >
                        Action <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                    <div style="margin: 5px" class="btn-group">
                      <button
                        data-toggle="dropdown"
                        class="btn btn-danger dropdown-toggle"
                      >
                        Danger <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                    <div style="margin: 5px" class="btn-group">
                      <button
                        data-toggle="dropdown"
                        class="btn btn-warning dropdown-toggle"
                      >
                        Danger <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </div>
                  <div>
                    <div class="btn-group">
                      <button
                        data-toggle="dropdown"
                        class="btn btn-success dropdown-toggle"
                      >
                        Success <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button
                        data-toggle="dropdown"
                        class="btn btn-info dropdown-toggle"
                      >
                        Info <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button
                        data-toggle="dropdown"
                        class="btn btn-default dropdown-toggle"
                      >
                        Default <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </div>

                  <h4>Split Button Dropdown Examples</h4>

                  <div style="margin: 5px" class="btn-toolbar">
                    <div class="btn-group">
                      <button class="btn btn-primary">Action</button>
                      <button
                        data-toggle="dropdown"
                        class="btn btn-primary dropdown-toggle"
                      >
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button class="btn btn-danger">Danger</button>
                      <button
                        data-toggle="dropdown"
                        class="btn btn-danger dropdown-toggle"
                      >
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button class="btn btn-warning">Warning</button>
                      <button
                        data-toggle="dropdown"
                        class="btn btn-warning dropdown-toggle"
                      >
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </div>
                  <div style="margin: 5px" class="btn-toolbar">
                    <div class="btn-group">
                      <button class="btn btn-success">Success</button>
                      <button
                        data-toggle="dropdown"
                        class="btn btn-success dropdown-toggle"
                      >
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button class="btn btn-info">Info</button>
                      <button
                        data-toggle="dropdown"
                        class="btn btn-info dropdown-toggle"
                      >
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </div>
                  <div style="margin: 5px" class="btn-toolbar">
                    <div class="btn-group">
                      <button class="btn btn-default">Default</button>
                      <button
                        data-toggle="dropdown"
                        class="btn btn-default dropdown-toggle"
                      >
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </div>

                  <h4>Buttons With Icons</h4>

                  <button class="btn btn-default">
                    <i class="fa fa-refresh"></i> Update
                  </button>
                  <button class="btn btn-primary">
                    <i class="fa fa-edit"></i> Edit
                  </button>
                  <button class="btn btn-danger">
                    <i class="fa fa-pencil"></i> Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /. ROW  -->
          
          <!-- /. ROW  -->
          
          <!-- /. ROW  -->
          
          
          <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
      </div>
      <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../../assets/admin/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../../assets/admin/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../../assets/admin/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../../assets/admin/js/custom.js"></script>
  </body>
</html>
